@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Fjalla+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

/* font start */
h1,
h2,
h3,
.btn {
  font-family: "Fjalla One", serif;
}

.history,
p {
  font-family: "Caveat", serif;
}

/* font end */

/* header start */

header {
  text-align: center;
  color: #e74c3c;
  background-color: black;
  padding: 2rem 0;
}
header p {
  font-size: 0.9rem;
}

h2,
.story-p,
.character-choice-p, h3 {
  color: white;
}
h2 {
  text-align: center;
}

/* header end */

/* Game Paragrahe Style */
.story-p {
  text-align: justify;
  padding: 20px 190px;
  /* padding left 25 % */
  height: 299.25px;
  /* height 70% */
  font-size: 1.1rem;
}
.character-choice-p {
  text-align: center;
  padding-top: 20px;
}

/* ! CONTAINER*/

.main-container {
  background-color: black;
  height: 100vh;
}

/* Game Container by default */
.game-container {
  border: 1px white solid;
  margin: 0 auto;
  width: 760px;
  height: 427.5px;
  border-radius: 5px;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

/* container start menu */
.menu-start {
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-image: url("../img/bgStartGame.jpg");
  padding-bottom: 30px;
}

/* container Game */
.menu-game {
  display: none;
  flex-direction: column;
  /* padding: 20px; */
}

/* container end menu */
.menu-end {
  display: none;
}

/*  */
.story-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.377);
  backdrop-filter: blur(2px);
}

.characters-choice-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

/* ! Fin container */

/* !BUTTON */

.btn {
  width: 165px;
  height: 30px;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
}

.btn-start {
  transition: box-shadow 0.3s, background-color 0.3s, color 0.3s;

  background-color: #e74c3c;
  color: white;
  border: 1px solid white;
  box-shadow: 0px 0px 8px white, inset 0px 0px 8px white, 0px 0px 16px #ec857b,
    inset 0px 0px 16px #ec857b, 0px 0px 24px #e74c3c, inset 0px 0px 24px #e74c3c;
}

.btn-start:hover {
  background-color: white;
  color: #e74c3c;
  box-shadow: 0px 0px 24px 5px white, inset 0px 0px 24px 5px white;
}

.btn-next, .btn-previous {
  transition: box-shadow 0.3s, background-color 0.3s, color 0.3s;
  background-color: #252525;
  color: white;
  border: 1px solid #252525;
  box-shadow: 5px 5px 8px rgb(2, 2, 2);
  align-self: self-end;
  margin: 20px;
}

.btn-next:hover, .btn-previous:hover {
  background-color: #050505;
  color: rgb(206, 206, 206);
  border: 1px solid #808080;
  box-shadow: 7px 3px 8px rgb(2, 2, 2);
}

/* character choice */
.characters-choice-container div {
  flex: 1 1 0;
  width: 0;
  height: 299.25px;
  /* height 70% */
}

.characters-choice-container div img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: filter 0.3s, background-color 0.3s;
  border-radius: 10px;
}

.characters-choice-container div img:hover {
  background-color: rgba(255, 255, 255, 0.418);
  filter: contrast(150%) sepia(20%);
}

/* character Talk */
.character-img {
  text-align: center;
  /* margin-top: 30px; */
  height: 427.5px;
  /* height: 397px; */
  /* 93% */
  z-index: 1;
}
.character-img img {
  /* width: 100%; */
  /* height: 100%; */
  height: 500px;
  object-fit: contain;
  /* 100% - margin */
}

.talking-div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  padding-top: 20px;
  top: -213.75px;
  /* 50% */
  min-height: 213.75px;
  border-radius: 5px;
  background-image: url("../img/talk-texture.jpg");
  background-size: cover;
  background-position: center;
  border: 3px solid rgb(255, 255, 255);
  z-index: 2;
}

.talking-div p {
  padding: 0 50px;
  text-align: justify;
  font-weight: 700;
}

/* ! Fight Event Start */

.fight-container {
  display: none;
  flex-direction: column;
  padding: 35px 15px;
  height: 299.25px;
  background-position: bottom;
  background-size: cover;
}

.life-container {
  display: flex;
  justify-content: space-between;
}
.life-container h3{
  text-align: center;
}

.life-total {
  border: 2px solid white;
  width: 200px;
  height: 10px;
  border-radius: 8px;
  overflow: hidden;
}
.hero-life-remaining,
.enemy-life-remaining {
  height: 6px;
  border-radius: 8px;
  background-color: rgb(14, 192, 14);
  
}
.fight-stage-container{
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.fight-stage-container div{
  width: 200px;
}

#fight-stage-hero img, #fight-stage-enemy img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.fight-menu-container{
  height: 128.25px;
  border:2px solid white;
  border-radius: 3px;
  background-image: url('../img/menuFight.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
}

.fight-menu-message{
  display:none;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
}
.fight-menu-choice{
  display: none;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  
}
.fight-menu-choice div{
  text-align: center;
  line-height: 127px;
  border: 2px solid white;
  width: 100%;
  height: 100%;
  cursor: pointer;

}

.fight-menu-choice div:hover{
  background-color: rgba(138, 134, 134, 0.466);
}

.fight-menu-skill-hero{
  display: none;
  flex-wrap:wrap;
  width: 100%;
  height: 100%;
 
  
}

.fight-menu-skill-hero-one{
  min-width:24%;
  max-height: 24%;
  flex-grow:1;
  border: 1px white solid;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
}
.fight-menu-skill-hero-one:hover{
  background-color: rgba(0, 0, 0, 0.466);
}
.btn-previous{
  position: absolute;
}
/* ! Fight Event End */

/* show */
.show {
  display: flex;
}

/* hide */
